.main {
  display: flex;
  gap: 10px;
  background-color: #eaf3ff;
  justify-content: center;
}

.profile {
  width: 260px;
  background: linear-gradient(180deg, #5f2cfa, #3a7bd5);
  border-radius: 18px;
  padding: 20px 15px ;
  text-align: center;
  color: white;
}

.image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  margin:10px;
}

.name {
  text-align: center;
  margin: 6px 0;
  font-weight: bold;
}

.skill {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 15px;
}

.list {
  border: none;
  border-radius: 20px;
  margin: 6px;
  padding: 5px 12px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 12px;
}
